{
  "printWidth": 120,
  "trailingComma": "all",
  "singleQuote": true,
  "sortingMethod": "alphabetical",
  "stripNewlines": true,
  "importTypeOrder": ["NPMPackages", "localImports"],
  "newlineBetweenTypes": true
}
